/*
                            LICENCE PRO PROPRIETÁRNÍ SOFTWARE
              Verze 1, Organizace: Fluffici, z.s. IČO: 19786077, Rok: 2024
                            PODMÍNKY PRO POUŽÍVÁNÍ

    a. Použití: Software lze používat pouze podle přiložené dokumentace.
    b. Omezení reprodukce: Kopírování softwaru bez povolení je zakázáno.
    c. Omezení distribuce: Distribuce je povolena jen přes autorizované kanály.
    d. Oprávněné kanály: Distribuci určuje výhradně držitel autorských práv.
    e. Nepovolené šíření: Šíření mimo povolené podmínky je zakázáno.
    f. Právní důsledky: Porušení podmínek může vést k právním krokům.
    g. Omezení úprav: Úpravy softwaru jsou zakázány bez povolení.
    h. Rozsah oprávněných úprav: Rozsah úprav určuje držitel autorských práv.
    i. Distribuce upravených verzí: Distribuce upravených verzí je povolena jen s povolením.
    j. Zachování autorských atribucí: Kopie musí obsahovat všechny autorské atribuce.
    k. Zodpovědnost za úpravy: Držitel autorských práv nenese odpovědnost za úpravy.

    Celý text licence je dostupný na adrese:
    https://autumn.fluffici.eu/attachments/xUiAJbvhZaXW3QIiLMFFbVL7g7nPC2nfX7v393UjEn/fluffici_software_license_cz.pdf
*/


/* main.sass */
@import 'variables';
@import 'base/base';
@import 'base/container';
@import 'base/buttons';
@import 'base/sticky-container';
@import 'base/breadcrumbs';
@import 'base/form';
@import 'base/image-loader';
@import 'base/modal';
@import 'base/progress-bar';
@import 'base/skeleton';
@import 'base/slider';
@import 'base/footer';
@import 'base/header';
@import 'base/card';
@import 'base/loading';
@import 'base/dynamic-page';
@import 'base/language-selector';
@import 'base/contact-form';
@import 'base/main';
